.erect-label-point-container {
    position: absolute;
    left: 0px;
    bottom: 0px;
    pointer-events: none;
    display: block;
    user-select:none;
}

.is-shulie {
    width: 30px;
    /* text-align: center; */
    /* background: transparent; */
    font-size: 9px;
    font-weight: 600;
    color: white;
    font-family: "Microsoft YaHei", "Helvetica Neue For Number", -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans GB",
        "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
    pointer-events: none;
}

.is-shulie-item {
    writing-mode: vertical-lr;
    font-size: 16px;
    letter-spacing: 4px;
}

.pre-topCard-list-item-line {
    display: block;
    height: 100px;
    width: 1px;
    /* margin-left: calc(50% + 2px);
    margin-top: 3px; */
    background-color: #fff;
}

.pre-topCard-list-item-circle {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: -10px;
}
